<h2>Login to Trunk Club</h2>

<%= form_tag "/sessions" do %>


<%= label_tag :email %> 
<%= text_field_tag :email, nil, :class => "nil" %>

<%= label_tag :password %> 
<%= password_field_tag :password, nil, :class => "nil" %> 

<%= submit_tag "Come on Back!", :class => "nil" %>

<% end %>



