<%= form_for(@affiliate) do |f| %>
  <% if @affiliate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>

      <ul>
      <% @affiliate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :required => true %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.collection_select :location_id, Location.all, :id, :state, :required => true %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, :required => true %>
  </div>
  <div class="field">
    <%= f.label "Describe your website content" %><br />
    <%= f.text_area :content, :required => true %>
  </div>
  <div class="field" required="true" >
    <%= f.label "Visitors Per Month" %><br />
    <%= f.text_field :visitors, :required => true %>
 </div>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

